﻿@model IList<Datalib.Models.Car>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @foreach (var car in Model)
        {
            //Html.DisplayForModel(car.Id);
            //Html.DisplayForModel(car.Brand);
            //Html.DisplayForModel(car.Color);
            //Html.DisplayForModel(car.Tyre.Brand);
            <label>@car.Id</label>
            <label>@car.Brand</label>
            <br/>
        }
    </div>
</div>